
<div style="padding: 26px">
  <img src="assets/home.jpeg" alt="home" height="300" width="100%">
  <div style="display: flex; flex-direction: row ; width: 100%; margin-top: 50px;">
    <div style="width: 50%; padding: 5px;">
      <mat-card>
        <mat-card-title>Product manager</mat-card-title>
        <mat-card-subtitle>In this section you can view, create, edit and delete your collaterals</mat-card-subtitle>
        <mat-card-actions align="end">
          <button mat-button color="primary" (click)="product()">Go</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div style="width: 50%; padding: 5px;">
      <mat-card >
        <mat-card-title>Category manager</mat-card-title>
        <mat-card-subtitle>In this section you can view, create, edit and delete your collaterals</mat-card-subtitle>
        <mat-card-actions align="end">
          <button mat-button color="primary" (click)="category()" >Go</button>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>
</div>
